h1 {text-align: center; background-color:#00b09b}
.subtitulo {border:solid 2px; font-family:Arial, Helvetica, sans-serif}
.division1 {background-image: url("../img/minions.jpg")}
ul {background-color:#BFACB5; font-family: 'Courier New', Courier, monospace}